*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-family: Helvetica, Arial, sans-serif;
}

:root {
  --gray: #a7a9a6;
  --black: #1d1e1c;
}

/* custom width for thumbs */
.carousel .thumb {
  width: min-content !important;
}

.control-dots {
  position: absolute;
  top: 360px;
  z-index: 11;
}

.carousel.carousel-slider {
  padding-bottom: 20px;
}
